* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #000;
}

#container {
  position: relative;
  width: 100%;
  display: flex;
  
  justify-content: center;
  align-items: center;

  -webkit-box-reflect: below 1px linear-gradient(#0001, #0004);
}

#container .text {
  position: absolute;
  z-index: 1;
  color: white;
}

#container .leader {
  position: relative;
  width: 200px;
  height: 200px;
  
  border-radius: 50%;
  background: rgb(25, 25, 25);

  animation: animate 2s linear infinite;
}

#container .leader::before {
  content: '';
  position: absolute;
  
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  
  background: linear-gradient(to top, transparent, rgba(255, 255, 255, 0.4));
  background-size: 100px 180px;
  background-repeat: no-repeat;
  border-top-left-radius: 100px;
  border-bottom-left-radius: 100px;
}

#container .leader::after {
  content: '';
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 20px;
  height: 20px;

  background: white;
  border-radius: 50%;
  z-index: 10;
  box-shadow: 0 0 10px white,
              0 0 20px white,
              0 0 30px white,
              0 0 40px white,
              0 0 50px white,
              0 0 60px white,
              0 0 70px white,
              0 0 80px white,
              0 0 90px white,
              0 0 100px white;
}

#container .leader span {
  position: absolute;
  
  top: 20px;
  left: 20px;
  right: 20px;
  bottom: 20px;
  
  background: #000;
  border-radius: 50%;
}



@keyframes animate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}